$primary: {{ INDIGO_PRIMARY_COLOR }};

// Theme fonts
$font-family-title: 'Comfortaa', cursive;
$serif: 'Comfortaa', cursive;
$f-sans-serif: 'Roboto', 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
